@charset "utf8";
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
/*----------------------------------------------------*/
/* CABÇALHO */
header#cabecalho{
    background-color: #F66B1D;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 5px black solid;
}

h1#pageTitle{
    color: black;
    margin: 10px;
}

#cabecalho nav {
    width: 100%;
}

#cabecalho ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

#cabecalho ul li{
    list-style: none;
    display: inline-block; /* essa linha deixa o menu de desktop em linha */
    padding: 10px;
}

#cabecalho ul li:hover{
    color: white;
    background-color: black;
    margin: 0px;
    transition: .3s;
    border-radius: 20px;
}

#cabecalho a{
    color: white;
    display: block;
}

.toggle{
    padding: 10px 20px;
    text-align: left;
    color: black;
    font-size: 30px;
    top: 0;
    position: absolute;
}

@media (max-width:1024px){
    .toggle{
        display: block;
    }

    ul{
        width: 100%;
        display: none;
    }

    #cabecalho ul li{
        display: block;
        text-align: center;
    }

    .active{
        display: block;
    }
}

/*----------------------------------------------------*/
/* BODY */
body{
    background-color: #F1F1F1;
    color: #3E3E3E;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

main#container{
    margin-top: 70px;
}

h1{
    font-size: 1.7em;
}

h2{
    color: #ED7233;
    text-align: left;
    font-size: 1.4em;
}

hr{
    margin: 5px;
}

p{
    margin: 10px 5px 10px 5px;
}

a:link , a:visited{
    text-decoration: none;
    color: orange;
}

main#container a:hover{
    text-decoration: underline;
}

#container img{
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*----------------------------------------------------*/
/* CONTEUDO */

section.news{
    margin: auto;
    margin-bottom: 5px;
    width: 95%;
    position: relative;
}

#container .fotoLegenda img{
    width: 60%;
    height: auto;
    border-radius: 15px;
}

.news label{
    position: absolute;
    padding: 10px;
    margin: auto;
    text-align: left;
}

aside{
    margin: left;
    margin-bottom: 5px;
    width: 95%;
    padding: 10px;
}

#sideBar ul{
    display: block;
    margin: 10px 0 10px 0px;
    font-size: 1.2em;
    text-align: left;
}

#sideBar ul li{
    margin: 5px 0 5px 0;
    width: 100%;
    list-style: none;
}

#sideBar ul li:hover{
    list-style: outside;
}

/*----------------------------------------------------*/
/* RODAPÉ */
footer#rodape{
    width: 100%;
    height: 80px;
    background-color: #F66B1D;
    text-align: center;
    padding: 10px 0 0 0;
    z-index: 10;
    clear: both;
}

#rodape label{
    color: black;
}

#rodape img{
    padding-top: 10px;
}

.rodImg{
    opacity: .5;
}
.rodImg:hover{
    opacity: 1;
    transition: .2s;
}
/*----------------------------------------------------*/
/* BreakPoint - Tablet Version */
@media only screen and (min-width:768px){
    main#container{
        margin: auto;
        width: 75%;
        margin-top: 70px;
    }
    #container img{
        border-radius: 10px;
    }
}

/*----------------------------------------------------*/
/* BreakPoint - Desktop Version */
@media only screen and (min-width:1024px){
    /*----------------------------------------------------*/
    /* HEADER */
    #icone{
        display: none;
    }

    .toggle{
        display: none;
    }

    #cabecalho ul li:hover{
        color: white;
        background-color: black;
        margin: 0px;
        transition: .3s;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    /*----------------------------------------------------*/
    /* BODY */
    main#container{
        margin: auto;
        width: 75%;
        margin-top: 110px;
    }

    #container img{
        border-radius: 10px;
    }

    /*----------------------------------------------------*/
    /* CONTEUDO */

    section.news{
        margin: auto;
        margin-bottom: 5px;
        width: 33%;
        position: relative;
        float: left;
    }
    
    hr{
        display: none;
    }
    a{
        margin: 0;
        padding:0;
    }
    
    #container .fotoLegenda img{
        width: 98%;
        height: auto;
        border-radius: 15px;
        opacity: 1;
    }

    .news label{
        left: 0;
        bottom: -1;
        color: black;
    }

    /* ----------------------- TRABALHAR NO ASIDE ---------------------- */
    aside{
        width: 30%;
        position: relative;
        top: 25px;
        bottom: 0;
        float: right;
        border-left: 1px solid black;
    }
    
    div.sideBarContent{
        top: 50px;
        position: static;
    }

    #sideBar ul{
        display: block;
        margin: 10px 0 10px 0px;
        font-size: 1.2em;
        text-align: left;
    }
    
    #sideBar ul li{
        margin: 5px 0 5px 0;
        width: 100%;
        list-style: none;
    }

    footer#rodape{
        top: 25px;
        position: relative;
    }
/*----------------------------------------------------*/
}
