@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* ----------- index.html style ----------- */

body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.videoScroll {
    position: relative;
    overflow: auto;
    height: 360px;
    width: 100%;
}

#glFooterLogo{
    filter: grayscale(1);
    transition: .2s;
    &:hover {
        transition: .2s;
        filter: grayscale(0);
    }
}

a {
    transition: .2s;
    &:hover {
        transition: .2s;
    }
}

.siteby{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

/* ----------- login style ----------- */
.login-page{
    background: url(../../img/login_page_wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-login-section{
    margin: 0 auto;
    margin-top: 130px;
    h1{
        font-size: 2em;
        padding-bottom: 10px;
    }
}

.modal-content{
    opacity: .95;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}

.login-gl-logo{
    margin-top: -50px;
    margin-bottom: 30px;
    img{
        height: 100px;
        width: 100px;
    }
}

.login-form{
    margin-bottom: 25px;
    input{
        height: 42px;
        border-radius: 5px;
        border-color: orange;
        font-size: 18px;
        padding-left: 45px;
    }
}

.login-form::before{
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    position: absolute;
    font-size: 22px; 
    left: 28px;
    padding-top: 4px;
}

.login-form:last-of-type::before{
    content: "\f023";
}

.padrão-btn{
    font-size: 20px;
    margin: 5px 0 25px;
    border-radius: 15px;
    padding: 7px 14px;
    border-bottom: 4px solid #ec920b; 
}

.forgot{
    padding: 5px 0 25px;
}

/* ----------- sign-in and forgot password style ----------- */
.style-form{
    margin-bottom: 10px;
    input{
        height: 42px;
        border-radius: 5px;
        border-color: orange;
        font-size: 18px;
    }
}

.log{
    position: absolute;
    left: 15px;
    top: 10px;
}